/* {
   outline: 1px solid red !important;
}*/

* {
    -webkit-box-sizing: border-box; /* validator says these are unkown vendor extensions. I dont understand the error?*/
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-weight: 300;
}

hr {
    margin-top: 5px;
    margin-bottom: 0px;
}

.job-title {
    margin-top: 0px;
    font-size: 13px;
    margin-bottom: 0px;
    margin-right: 3px;
}

.my-name {
    margin-bottom: 0px;
}

.logo {
    width: 130px;
    margin-top: 7px;
}

.nav {
    background-color: #ffffff;
}

.nav-btn {
    border-style: none;
    margin-top: 3px;
}

.icon-bar {
    color: black;
}
.social {
    float: right;
    margin-top: 0px;
    padding-left: 0px;
}

.icons {
    display: inline;
    width: 35px;
}

.github-icon {
    height: 27px;
    width: 28px;
    margin-bottom: 6px;
    margin-right: 8px;
    margin-left: 8px;
}

.project-img {
    margin-left: auto;
    margin-right: auto;
}

.project-text {
    color: black;
    text-align: center;
}

.github-link {
    text-align: center;
    word-wrap: break-word;
}

.your-name h2{
            font-size: 36px
        }

.featured-title {
    font-size: 22px;
    margin-bottom: 2px;
}

.nav>li>a {
    padding-left: 7px;
    padding-right: 7px;
}

@media screen and (max-width: 767px) {
    .featured-title {
        text-align: center;
    }
}

@media screen and (max-width: 484px) {
  .logo {
    width: 85px;
    margin-top: 22px;
  }
  .your-name h2{
    font-size: 30px;
  }
  .your-name h5{
    font-size: 10px
  }

}

@media screen and (max-width: 375px) {
    .logo {
        width: 75px;
        margin-top: 15px;
    }

    .your-name h2{
        font-size: 22px;
    }

    .your-name h5{
        font-size: 8px;
  }
}

@media screen and (max-width: 360px) {
  .logo {
    width: 70px;
    margin-top: 19px;
  }

  .your-name h2{
    font-size: 24px;
  }

  .your-name h5{
    font-size: 8px;
    margin-right: 3px;
  }
}

@media screen and (max-width: 320px) {
    .logo {
        width: 60px;
        margin-top: 25px;
    }
    .icons {
        width: 25px;
    }
    .github-icon {
        width: 18px;
        height: 18px;
        margin-top: 4px;
}