/* {
   outline: 1px solid red !important;
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-weight: 300;
}

.logo {
    width: 150px;
    margin-top: 12px
}

.nav {
    background-color: #ffffff;
}

.social {
    float: right;
    margin-top: 7px;
}

.icons {
    display: inline;
    width: 35px;
}

.github-icon {
    height: 27px;
    width: 28px;
    margin-bottom: 6px;
    margin-right: 8px;
    margin-left: 8px;
}

/*.projects {
    color: black;
}*/

/*color: black;*/

.project-text {
    color: black;
    text-align: center;
}

.github-link {
    text-align: center;
    word-wrap: break-word;
}

.your-name h2{
            font-size: 36px
        }

@media screen and (max-width: 484px) {
  .logo {
    width: 120px;
    margin-top: 12px;
  }
  .your-name h2{
    font-size: 24px;
  }
  .your-name h5{
    font-size: 10px
  }

}

@media screen and (max-width: 320px) {
  .logo {
    width: 90px;
    margin-top: 20px;
  }
  .your-name h2{
    font-size: 24px;
  }

  .your-name h5{
    font-size: 10px;
  }
}

@media screen and (max-width: 991px) {
    .featured-title{
        text-align: center;
    }
}

.main-image {}
.featured-title {}
.project-img {
    margin-left: auto;
    margin-right: auto;
}
